<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆瓣登录模拟</title>
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script>

        var path = getRootPath();
        function getRootPath() {
            var strFullPath = window.document.location.href;
            var strPath = window.document.location.pathname;
            var pos = strFullPath.indexOf(strPath);
            var prePath = strFullPath.substring(0, pos);
            var postPath = strPath.substring(0, strPath.substr(1).indexOf('/') + 1);
            return (prePath + postPath);
        }

        /**
         * 用户访问客户端，后者将前者导向认证服务器，即跳转到登录页面
         */
        function leadToAuthorize() {
            window.location.href=path + "/leadToAuthorize";
        }



    </script>
</head>
<body>
<h1>豆瓣登录</h1>

    <div class="phone">
        <div class="loginbutton">
            <button value="使用QQ账号登录" onclick="leadToAuthorize()">使用QQ登录</button>
        </div>
    </div>

</body>
</html>